@use "sass:color";

$primary: #020100;
$secondary: #d67e20;
$background: #f1f1f1;

$primary-oklch: oklch(0.1176 0.0222 82.32);
$secondary-oklch: oklch(0.7618 0.2368 82.32);
$background-oklch: oklch(0.9581 0 0);
$white-oklch: oklch(0.9641 0 0);

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

@mixin respond-to($canvas) {
  @if $canvas == tablet {
    @media (min-width: $breakpoint-md) { @content; }
  }
  @if $canvas == desktop {
    @media (min-width: $breakpoint-lg) { @content; }
  }
}

$font-family: 'Roboto Mono', sans-serif;
$font-title: 'Skranji', serif;
$font-special: 'Climate Crisis', sans-serif;

$navbar-light-color: $primary;
$navbar-light-hover-color: $secondary;
$navbar-light-toggler-border-color: transparent;

$body-bg: $background;
